body {
  height: 95vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
canvas {
  border: 2px solid darkred;
}
img {
  width: 50%;
}
button {
  margin-bottom: 1rem;
}
.bg {
  margin-top: 1rem;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}
.filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 3rem;
  /* jus */
}
.wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
#myImage {
  margin-right: 1rem;
}
.inline-container {
  display: flex;
}
.filters div {
  background-color: rgba(232, 228, 228, 0.926);
  padding: 0.5rem 2rem;
  margin: 0.6rem 0.5rem;
  border-radius: 4px;
  width: 12rem;
}
.filters div > input {
  /* margin-right: 0.1rem; */
}

.range_filters div {
  background-color: rgb(231, 229, 229);
  padding: 0.5rem;
  border-radius: 4px;
  margin-top: 0.55rem;
  margin-left: 2rem;
}

.filters,
.range_filters {
  margin-top: 5rem !important;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
.blend > span {
  display: inline-block;
  margin-top: 1rem;
  /* padding: 0rem 1rem; */
  width: 14rem;
}
.remove > span {
  display: inline-block;
  margin-top: 1rem;
  padding: 0rem 1rem;
  width: 14rem;
}

.selectBox {
  display: flex !important;
}
.selectBox > select {
  margin-left: 0.5rem;
}
